

.image0{
    padding-top : 2rem;
    background-image: url("img/bg1.jpg");
    background-color:rgb(189, 196, 255);
    background-position: bottom;
    background-size: cover;
    height: 100%; 
}


ul{
    list-style-type: none;
}